In [1]:
import pandas as pd
import os
import numpy as np

Getting the full path to the dataset folder

In [2]:
dir_path = os.path.dirname(os.path.realpath("__file__"))
path_to_datasets_folder = os.path.join(dir_path, "datasets")
path_to_weather_file = os.path.join(path_to_datasets_folder, "messwerte_mythenquai_2007-2020.csv")

In [3]:
df_weather = pd.read_csv(path_to_weather_file)
df_weather.head()

C:\Users\andre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,8,9,11,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,timestamp_cet,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
0,2007-04-22T21:20:00,18.9,15.2,1.6,0.7,0.7,321,18.9,973.5,0,4.4,3,38,405.94
1,2007-04-22T21:30:00,18.1,15.2,1.3,0.8,0.8,346,18.1,973.7,0,4.8,3,41,405.94
2,2007-04-22T21:40:00,17.7,15.1,0.9,0.2,0.2,4,17.7,973.7,0,5.1,3,43,405.94
3,2007-04-22T21:50:00,17.6,15.3,0.6,0.1,0.1,235,17.6,973.8,0,5.7,3,45,405.94
4,2007-04-22T22:00:00,17.4,15.4,0.7,0.3,0.3,178,17.4,973.9,0,6.3,3,48,405.94

Drop all rows before 2011

In [4]:
#df_weather = df_weather[df_weather.timestamp_cet != '2007']
df_weather[~df_weather.timestamp_cet.str.get(0).isin(['2007', '2008'])]

,timestamp_cet,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
0,2007-04-22T21:20:00,18.9,15.2,1.6,0.7,0.7,321,18.9,973.5,0,4.4,3,38,405.94
1,2007-04-22T21:30:00,18.1,15.2,1.3,0.8,0.8,346,18.1,973.7,0,4.8,3,41,405.94
2,2007-04-22T21:40:00,17.7,15.1,0.9,0.2,0.2,4,17.7,973.7,0,5.1,3,43,405.94
3,2007-04-22T21:50:00,17.6,15.3,0.6,0.1,0.1,235,17.6,973.8,0,5.7,3,45,405.94
4,2007-04-22T22:00:00,17.4,15.4,0.7,0.3,0.3,178,17.4,973.9,0,6.3,3,48,405.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708359,2020-12-31T23:20:00,2.1,.,2.5,1.8,2.0,293,1.8,1005,.,0.4,.,89,.
708360,2020-12-31T23:30:00,2.1,.,2.6,1.8,2.0,303,1.7,1005,.,0.6,.,89,.
708361,2020-12-31T23:40:00,2.1,.,2.5,1.7,2.0,305,2.0,1005,.,0.7,.,90,.
708362,2020-12-31T23:50:00,2.2,.,1.8,1.0,1.0,318,2.2,1005,.,0.8,.,91,.
708363,2021-01-01T00:00:00,2.5,.,1.6,0.9,1.0,16,2.5,1005,.,1.4,.,92,.

In [5]:
df_weather = df_weather[~df_weather['timestamp_cet'].astype(str).str.startswith(tuple(['2007', '2008', '2009', '2010', '2020', '2021']))]

In [6]:
df_weather.tail()

,timestamp_cet,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
658716,2019-12-31T23:10:00,0.1,6.7,3.1,2.4,2.0,46,-2.9,985.1,0,-0.1,0,99,405.87
658717,2019-12-31T23:20:00,0.2,6.7,3.1,2.2,2.0,50,-1.8,985.1,0,0.0,0,99,405.86
658718,2019-12-31T23:30:00,0.2,6.7,2.8,1.8,2.0,29,-0.2,985.1,0,0.0,0,98,405.87
658719,2019-12-31T23:40:00,0.2,6.8,3.2,2.2,2.0,39,-1.4,985,0,-0.1,0,98,405.87
658720,2019-12-31T23:50:00,0.2,6.8,2.7,1.7,2.0,14,-0.2,984.9,0,-0.1,0,98,405.87

In [7]:
import datetime
from datetime import datetime

In [8]:
dates_list = []
for i, row in df_weather.iterrows():
    
    timestamp_str = df_weather.at[i, 'timestamp_cet']
    datetime_obj = datetime.strptime(timestamp_str, '%Y-%m-%dT%H:%M:%S')
    dates_list.append(datetime_obj)
    
df_weather.insert(1, 'date', dates_list)

In [9]:
df_weather.dtypes

timestamp_cet                      object
date                       datetime64[ns]
air_temperature                   float64
water_temperature                  object
wind_gust_max_10min               float64
wind_speed_avg_10min              float64
wind_force_avg_10min              float64
wind_direction                      int64
windchill                         float64
barometric_pressure_qfe            object
precipitation                      object
dew_point                         float64
global_radiation                   object
humidity                            int64
water_level                        object
dtype: object

In [10]:
df_weather.index = range(len(df_weather))
df_weather.head()

,timestamp_cet,date,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
0,2011-01-01T00:00:00,2011-01-01 00:00:00,2.2,5.2,2.4,1.5,1.5,289,2.1,974.8,0,1.6,0,96,405.81
1,2011-01-01T00:10:00,2011-01-01 00:10:00,2.2,5.2,2.0,1.5,1.5,298,2.2,974.7,0,1.6,0,96,405.81
2,2011-01-01T00:20:00,2011-01-01 00:20:00,2.2,5.2,1.9,1.4,1.4,298,2.2,974.6,0,1.6,0,96,405.81
3,2011-01-01T00:30:00,2011-01-01 00:30:00,2.2,5.2,1.9,1.1,1.1,294,2.2,974.5,0,1.6,1,96,405.81
4,2011-01-01T00:40:00,2011-01-01 00:40:00,2.3,5.2,1.5,0.9,0.9,303,2.2,974.4,0,1.6,1,96,405.81

#### Check NaNs, empty rows...:

In [11]:
#NaNs check:
idx, idy = np.where(pd.isnull(df_weather))
idx, df_weather.columns[idy]

(array([], dtype=int64), Index([], dtype='object'))

In [12]:
from collections import Counter
problematic_cols = []
for j in df_weather.columns:
    
    ele_list = [] #instantiate list for elements in each column that are not of class int or float

    type_list = [type(i) for i in df_weather[j]]
    type_dict = Counter(type_list)
    if len(type_dict) > 1:
        ele_list = [i for i in df_weather[j] if type(i) == str] #list that contains strings in order to check for "false" classes
        problematic_cols.append(j)
    print(type_dict)
    print('elements with class string of column {}'.format(j))
    print(Counter(ele_list))
    print('')

Counter({<class 'str'>: 471897})
elements with class string of column timestamp_cet
Counter()

Counter({<class 'pandas._libs.tslibs.timestamps.Timestamp'>: 471897})
elements with class string of column date
Counter()

Counter({<class 'float'>: 471897})
elements with class string of column air_temperature
Counter()

Counter({<class 'float'>: 468536, <class 'str'>: 3361})
elements with class string of column water_temperature
Counter({'7.8': 434, '7.7': 425, '7.3': 399, '7.4': 322, '7.9': 318, '7.6': 243, '7.2': 157, '6.8': 156, '7.5': 145, '8.6': 87, '6.6': 86, '8': 83, '6.7': 73, '8.7': 72, '8.4': 69, '6.9': 58, '8.3': 48, '7.1': 48, '7': 47, '8.1': 46, '8.5': 27, '8.2': 15, '6.5': 3})

Counter({<class 'float'>: 471897})
elements with class string of column wind_gust_max_10min
Counter()

Counter({<class 'float'>: 471897})
elements with class string of column wind_speed_avg_10min
Counter()

Counter({<class 'float'>: 471897})
elements with class string of column wind_force_avg_10min
Counter()

Counter({<class 'int'>: 471897})
elements with class string of column wind_direction
Counter()

Counter({<class 'float'>: 471897})
elements with class string of column windchill
Counter()

Counter({<class 'float'>: 468536, <class 'str'>: 3361})
elements with class string of column barometric_pressure_qfe
Counter({'976': 31, '984.2': 31, '984.1': 31, '960.1': 28, '958.8': 27, '961.5': 26, '959.3': 26, '960.2': 25, '984.4': 25, '959.8': 24, '961.4': 22, '960.3': 22, '960': 22, '963.3': 22, '970.2': 22, '970.1': 22, '988.2': 22, '959.7': 21, '986.6': 21, '963.6': 20, '950.2': 20, '986.7': 20, '963.2': 19, '961.6': 19, '975.9': 19, '984': 19, '963.8': 18, '960.9': 18, '959.9': 18, '969.7': 18, '976.1': 18, '968.9': 18, '963.7': 18, '988': 18, '984.8': 18, '963.5': 17, '959.2': 17, '969.9': 17, '976.8': 17, '984.3': 17, '985.6': 17, '962': 16, '961': 16, '959.6': 16, '975.8': 16, '986.3': 16, '962.3': 15, '961.7': 15, '961.3': 15, '960.7': 15, '959.4': 15, '970.9': 15, '976.2': 15, '970.3': 15, '963.4': 15, '986.4': 15, '961.9': 14, '961.2': 14, '959.5': 14, '960.6': 14, '971': 14, '969.6': 14, '959': 14, '947.2': 14, '976.3': 14, '960.5': 13, '960.4': 13, '971.6': 13, '958.7': 13, '948.7': 13, '948.8': 13, '958.9': 13, '970': 13, '983.7': 13, '986.5': 13, '984.5': 13, '964': 12, '962.5': 12, '962.6': 12, '962.1': 12, '977': 12, '973.9': 12, '958.5': 12, '948.6': 12, '947.1': 12, '986.8': 12, '987.4': 12, '987.6': 12, '988.1': 12, '961.8': 11, '961.1': 11, '967.8': 11, '976.6': 11, '975.7': 11, '973.3': 11, '950.4': 11, '950.1': 11, '948': 11, '969.8': 11, '983.9': 11, '985': 11, '985.7': 11, '985.8': 11, '987.1': 11, '987.3': 11, '962.9': 10, '962.8': 10, '960.8': 10, '969.2': 10, '972': 10, '973.2': 10, '975.3': 10, '976.7': 10, '977.2': 10, '974.9': 10, '974.6': 10, '944.2': 10, '943.1': 10, '947.6': 10, '949.4': 10, '968.8': 10, '984.6': 10, '985.1': 10, '985.5': 10, '988.3': 10, '964.5': 9, '962.7': 9, '968.1': 9, '969': 9, '970.5': 9, '970.7': 9, '958.3': 9, '941.9': 9, '949.2': 9, '949.8': 9, '973.5': 9, '984.7': 9, '986': 9, '964.6': 8, '964.2': 8, '962.2': 8, '967.5': 8, '967.7': 8, '969.5': 8, '971.2': 8, '971.4': 8, '973.4': 8, '973.6': 8, '973.8': 8, '974.7': 8, '973.1': 8, '971.3': 8, '971.1': 8, '967.6': 8, '957.3': 8, '950.6': 8, '949.7': 8, '949.6': 8, '949.3': 8, '948.4': 8, '948.5': 8, '958.6': 8, '977.1': 8, '985.3': 8, '987.5': 8, '986.9': 8, '987.8': 8, '963': 7, '962.4': 7, '963.1': 7, '968.3': 7, '968.7': 7, '971.7': 7, '974.8': 7, '975.2': 7, '975.4': 7, '977.6': 7, '970.8': 7, '969.4': 7, '969.3': 7, '969.1': 7, '967.1': 7, '950.5': 7, '950': 7, '948.9': 7, '943.4': 7, '942.2': 7, '949': 7, '950.3': 7, '947': 7, '958.4': 7, '976.9': 7, '986.2': 7, '987.2': 7, '987.9': 7, '988.4': 7, '964.4': 6, '965.8': 6, '967': 6, '967.3': 6, '967.9': 6, '968.5': 6, '974.2': 6, '977.7': 6, '977.8': 6, '978.1': 6, '978.4': 6, '979.7': 6, '978': 6, '970.6': 6, '968.4': 6, '968': 6, '967.4': 6, '958.2': 6, '957.4': 6, '955.6': 6, '948.2': 6, '947.4': 6, '947.3': 6, '943.3': 6, '942.6': 6, '942': 6, '943.2': 6, '943.5': 6, '944.1': 6, '949.5': 6, '949.9': 6, '944.5': 6, '971.5': 6, '973.7': 6, '984.9': 6, '985.2': 6, '964.7': 5, '965.2': 5, '965.6': 5, '966': 5, '972.7': 5, '972.9': 5, '975.6': 5, '979.4': 5, '979.8': 5, '978.5': 5, '976.5': 5, '975.5': 5, '974.5': 5, '972.4': 5, '968.6': 5, '968.2': 5, '966.7': 5, '964.9': 5, '959.1': 5, '952.1': 5, '947.5': 5, '946.9': 5, '946': 5, '945.5': 5, '944.3': 5, '942.7': 5, '941.8': 5, '943.9': 5, '944.8': 5, '946.7': 5, '947.9': 5, '948.1': 5, '966.9': 5, '983.8': 5, '986.1': 5, '964.1': 4, '964.8': 4, '966.8': 4, '967.2': 4, '971.8': 4, '972.3': 4, '972.5': 4, '974.4': 4, '975': 4, '978.3': 4, '979.5': 4, '979.6': 4, '979': 4, '975.1': 4, '974.3': 4, '965.7': 4, '965.1': 4, '957.8': 4, '957': 4, '954.2': 4, '953.3': 4, '952.9': 4, '947.8': 4, '946.4': 4, '944.4': 4, '943.8': 4, '943.6': 4, '942.5': 4, '943': 4, '945.8': 4, '947.7': 4, '952.6': 4, '957.1': 4, '957.6': 4, '958.1': 4, '970.4': 4, '946.8': 4, '942.9': 4, '976.4': 4, '977.3': 4, '983.6': 4, '985.9': 4, '987': 4, '964.3': 3, '965.4': 3, '966.3': 3, '966.6': 3, '973': 3, '974': 3, '977.5': 3, '978.6': 3, '978.7': 3, '979.9': 3, '977.9': 3, '977.4': 3, '972.1': 3, '966.5': 3, '966.2': 3, '965.5': 3, '958': 3, '957.5': 3, '956.8': 3, '956.3': 3, '955.8': 3, '955.2': 3, '954.7': 3, '954.4': 3, '953.1': 3, '951.8': 3, '951.6': 3, '951.3': 3, '945.3': 3, '944.9': 3, '944.7': 3, '940.6': 3, '939.1': 3, '939.3': 3, '943.7': 3, '944.6': 3, '953.2': 3, '953.7': 3, '963.9': 3, '946.5': 3, '946.3': 3, '948.3': 3, '949.1': 3, '942.1': 3, '972.8': 3, '985.4': 3, '965': 2, '978.9': 2, '979.1': 2, '979.3': 2, '979.2': 2, '974.1': 2, '971.9': 2, '965.3': 2, '956.7': 2, '956.4': 2, '956.1': 2, '956': 2, '955.4': 2, '954.8': 2, '954': 2, '953.8': 2, '953.6': 2, '952.5': 2, '952.3': 2, '950.8': 2, '946.6': 2, '945.9': 2, '945.7': 2, '945': 2, '942.3': 2, '941.4': 2, '941': 2, '940': 2, '939.5': 2, '938.8': 2, '938.4': 2, '937.5': 2, '936.8': 2, '936.6': 2, '936.3': 2, '935.6': 2, '934.2': 2, '939.2': 2, '940.5': 2, '945.1': 2, '946.2': 2, '950.7': 2, '951.9': 2, '952.2': 2, '953.5': 2, '953.9': 2, '954.1': 2, '955': 2, '957.7': 2, '957.9': 2, '956.6': 2, '950.9': 2, '945.6': 2, '945.4': 2, '945.2': 2, '944': 2, '942.4': 2, '951.4': 2, '951.5': 2, '952': 2, '952.8': 2, '978.8': 2, '981.5': 2, '981.9': 2, '982.8': 2, '983.1': 2, '987.7': 2, '978.2': 1, '956.5': 1, '955.1': 1, '954.9': 1, '954.3': 1, '951': 1, '941.7': 1, '938': 1, '937.6': 1, '937.4': 1, '937.2': 1, '936.9': 1, '935.9': 1, '935.5': 1, '935.2': 1, '934.8': 1, '934.5': 1, '934.1': 1, '934.7': 1, '935.8': 1, '936.2': 1, '937': 1, '937.3': 1, '937.7': 1, '938.1': 1, '939.4': 1, '939.7': 1, '939.8': 1, '939.9': 1, '940.1': 1, '940.3': 1, '940.9': 1, '941.2': 1, '941.3': 1, '941.6': 1, '951.2': 1, '955.3': 1, '956.2': 1, '965.9': 1, '966.4': 1, '957.2': 1, '946.1': 1, '951.7': 1, '952.4': 1, '953': 1, '954.6': 1, '972.6': 1, '972.2': 1, '980.1': 1, '980.2': 1, '980.3': 1, '980.5': 1, '980.7': 1, '980.8': 1, '981': 1, '981.3': 1, '981.4': 1, '981.6': 1, '981.7': 1, '981.8': 1, '982': 1, '982.2': 1, '982.3': 1, '982.4': 1, '982.5': 1, '982.6': 1, '982.7': 1, '982.9': 1, '983': 1, '983.2': 1, '983.3': 1, '983.4': 1, '988.5': 1})

Counter({<class 'float'>: 468536, <class 'str'>: 3361})
elements with class string of column precipitation
Counter({'0': 3038, '0.1': 121, '0.2': 77, '0.3': 45, '0.4': 30, '0.5': 20, '0.6': 11, '0.7': 6, '0.9': 4, '0.8': 3, '1': 2, '1.9': 2, '1.1': 1, '1.2': 1})

Counter({<class 'float'>: 471897})
elements with class string of column dew_point
Counter()

Counter({<class 'int'>: 468536, <class 'str'>: 3361})
elements with class string of column global_radiation
Counter({'0': 2036, '1': 119, '2': 40, '3': 34, '4': 21, '33': 15, '55': 15, '7': 15, '30': 15, '5': 14, '9': 14, '49': 13, '15': 13, '10': 13, '41': 13, '14': 13, '34': 13, '70': 12, '17': 12, '66': 12, '19': 11, '69': 11, '50': 11, '37': 11, '77': 11, '38': 11, '64': 10, '21': 10, '13': 10, '73': 10, '80': 10, '84': 10, '27': 10, '20': 10, '44': 9, '60': 9, '57': 9, '31': 9, '6': 9, '86': 9, '11': 9, '22': 9, '48': 9, '36': 9, '76': 9, '40': 9, '58': 8, '52': 8, '91': 8, '43': 8, '89': 8, '35': 8, '74': 8, '28': 8, '88': 8, '78': 8, '98': 8, '67': 8, '101': 8, '56': 8, '62': 8, '42': 8, '12': 7, '26': 7, '23': 7, '75': 7, '45': 7, '47': 7, '87': 7, '104': 7, '18': 7, '29': 7, '24': 7, '68': 6, '59': 6, '63': 6, '71': 6, '81': 6, '8': 6, '112': 6, '83': 6, '106': 6, '46': 5, '51': 5, '108': 5, '102': 5, '82': 5, '54': 5, '32': 5, '92': 5, '16': 5, '313': 5, '139': 5, '131': 5, '119': 5, '132': 5, '118': 4, '72': 4, '152': 4, '240': 4, '79': 4, '100': 4, '170': 4, '184': 4, '107': 4, '85': 4, '105': 4, '116': 4, '99': 4, '187': 4, '103': 4, '144': 4, '201': 4, '155': 4, '126': 4, '115': 4, '96': 4, '114': 4, '95': 4, '97': 4, '111': 4, '123': 4, '270': 3, '39': 3, '156': 3, '236': 3, '282': 3, '219': 3, '202': 3, '53': 3, '159': 3, '147': 3, '164': 3, '172': 3, '90': 3, '25': 3, '175': 3, '94': 3, '113': 3, '277': 3, '124': 3, '142': 3, '125': 3, '110': 3, '136': 3, '182': 3, '140': 3, '133': 3, '93': 3, '158': 3, '189': 2, '200': 2, '290': 2, '301': 2, '258': 2, '61': 2, '65': 2, '167': 2, '138': 2, '247': 2, '128': 2, '210': 2, '205': 2, '117': 2, '130': 2, '263': 2, '121': 2, '217': 2, '135': 2, '137': 2, '192': 2, '109': 2, '129': 2, '127': 2, '178': 2, '228': 2, '314': 2, '145': 2, '179': 2, '166': 2, '363': 2, '339': 2, '230': 1, '203': 1, '215': 1, '250': 1, '265': 1, '310': 1, '261': 1, '218': 1, '244': 1, '343': 1, '287': 1, '359': 1, '204': 1, '351': 1, '291': 1, '252': 1, '141': 1, '151': 1, '157': 1, '229': 1, '163': 1, '149': 1, '213': 1, '194': 1, '242': 1, '181': 1, '223': 1, '355': 1, '332': 1, '216': 1, '241': 1, '150': 1, '191': 1, '221': 1, '169': 1, '231': 1, '197': 1, '292': 1, '120': 1, '209': 1, '409': 1, '171': 1, '185': 1, '255': 1, '294': 1, '238': 1, '190': 1, '174': 1, '160': 1, '183': 1, '248': 1, '225': 1, '165': 1, '299': 1, '307': 1, '305': 1, '199': 1, '318': 1, '274': 1, '207': 1, '154': 1, '143': 1, '196': 1, '212': 1, '180': 1, '146': 1, '161': 1, '134': 1, '284': 1, '346': 1, '286': 1, '296': 1, '234': 1, '122': 1})

Counter({<class 'int'>: 471897})
elements with class string of column humidity
Counter()

Counter({<class 'float'>: 468536, <class 'str'>: 3361})
elements with class string of column water_level
Counter({'405.91': 937, '405.92': 783, '405.9': 683, '405.94': 326, '405.89': 261, '405.93': 212, '405.87': 74, '405.88': 73, '405.86': 11, '405.95': 1})

From the result of the code above, wee see that there seems to be a problem with some values that are actually defined but have a different data type than the other non-empty rows and they are actually of the same type.

In [13]:
#define helper functions to extract floats and integers from strings:
def RepresentsFloat(s):
    try: 
        float(s)
        return True
    except ValueError:
        return False
    
def RepresentsInt(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

    

for j in problematic_cols:
    
    #This loop for each column checks whether its entries are of the same type as its first entry
    #(which is assumed to be the actual/correct data type) and if ith row entry is a string it checks if it is supposed
    #to be a float and if positive then converts the string to a float. The same is done if the ith row is supposed to be 
    #an integer.
    
    for i in range(len(df_weather)):
        
        #if the ith row of column j is a string that contains a float and is supposed to be a float -> convert to float
        if ((type(df_weather[j].values[i]) == str) & (RepresentsFloat(df_weather[j].values[i])) & (type(df_weather[j].values[0]) == float)):
            df_weather[j].values[i] = float(df_weather[j].values[i])
        
        #if the ith row of column j is a string that contains an integer and is supposed to be an integer -> convert to integer
        elif ((type(df_weather[j].values[i]) == str) & (RepresentsInt(df_weather[j].values[i]))):
            df_weather[j].values[i] = int(df_weather[j].values[i])

Let's check if the fix worked:
(it worked if the second counter is at most of length 1!)

In [14]:
from collections import Counter
problematic_cols = []
for j in df_weather.columns:
    
    ele_list = [] #instantiate list for elements in each column that are not of class int or float

    type_list = [type(i) for i in df_weather[j]]
    type_dict = Counter(type_list)
    if len(type_dict) > 1:
        ele_list = [i for i in df_weather[j] if type(i) == str] #list that contains strings in order to check for "false" classes
        problematic_cols.append(j)
    print(type_dict)
    print('elements with class string of column {}:'.format(j), Counter(ele_list))
    print('')

Counter({<class 'str'>: 471897})
elements with class string of column timestamp_cet: Counter()

Counter({<class 'pandas._libs.tslibs.timestamps.Timestamp'>: 471897})
elements with class string of column date: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column air_temperature: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column water_temperature: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column wind_gust_max_10min: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column wind_speed_avg_10min: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column wind_force_avg_10min: Counter()

Counter({<class 'int'>: 471897})
elements with class string of column wind_direction: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column windchill: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column barometric_pressure_qfe: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column precipitation: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column dew_point: Counter()

Counter({<class 'int'>: 471897})
elements with class string of column global_radiation: Counter()

Counter({<class 'int'>: 471897})
elements with class string of column humidity: Counter()

Counter({<class 'float'>: 471897})
elements with class string of column water_level: Counter()

In [15]:
# Create the empty dataframe for the hourly consolidated data

columns = ['date', 'air_temperature', 'water_temperature', 'wind_gust_max_10min',
           'wind_speed_avg_10min', 'wind_force_avg_10min', 'wind_direction',
           'windchill', 'barometric_pressure_qfe', 'precipitation', 'dew_point',
           'global_radiation', 'humidity', 'water_level']

df_hourly_weather = pd.DataFrame(columns = columns)

In [16]:
# Initialize first date in the dataframe

stamp = df_weather['date'][0]

# Initialize counter that keeps track of how many measurements are made in an hour to calculate averages

counter = 0

# Set all other variables to 0

air_temp = 0
water_temp = 0
wind_gust_max = 0
wind_speed_avg = 0
wind_force_avg = 0
wind_direction = 0
windchill = 0
pressure = 0
precipitation = 0
dew_point = 0
radiation = 0
humidity = 0
water_level = 0

for index, row in df_weather.iterrows():
    
    # Compare the date and the hour of the saved variable stamp with this row
    
    if stamp.date() == row['date'].date() and stamp.hour == row['date'].hour:
        counter += 1
        air_temp = air_temp + row['air_temperature']
        water_temp = water_temp + row['water_temperature']
        wind_gust_max = max(wind_gust_max, row['wind_gust_max_10min'])
        wind_speed_avg = wind_speed_avg + row['wind_speed_avg_10min']
        wind_force_avg = wind_force_avg + row['wind_force_avg_10min']
        wind_direction = wind_direction + row['wind_direction']
        windchill = windchill + row['windchill']
        pressure = pressure + row['barometric_pressure_qfe']
        precipitation = precipitation + row['precipitation']
        dew_point = dew_point + row['dew_point']
        radiation = radiation + row['global_radiation']
        humidity = humidity + row['humidity']
        water_level = max(water_level, row['water_level'])
    else:
        df_hourly_weather = df_hourly_weather.append({'date' : datetime(stamp.year, stamp.month, stamp.day, stamp.hour, 30),
                        'air_temperature' : air_temp / counter,
                        'water_temperature' : water_temp / counter,
                        'wind_gust_max_10min' : wind_gust_max,
                        'wind_speed_avg_10min' : wind_speed_avg / counter,
                        'wind_force_avg_10min' : wind_force_avg / counter,
                        'wind_direction' : wind_direction,
                        'windchill' : windchill / counter,
                        'barometric_pressure_qfe' : pressure / counter,
                        'precipitation' : precipitation / counter,
                        'dew_point' : dew_point / counter,
                        'global_radiation' : radiation / counter,
                        'humidity' : humidity / counter,
                        'water_level' : water_level / counter}, ignore_index = True)
        

        # Reset counter and increase the stamp variable with the dateTime of the next row in the df
        
        counter = 0
        stamp = df_weather.iloc[index+1]['date']
        
        # Reset varibles
        
        air_temp = 0
        water_temp = 0
        wind_gust_max = 0
        wind_speed_avg = 0
        wind_force_avg = 0
        wind_direction = 0
        windchill = 0
        pressure = 0
        precipitation = 0
        dew_point = 0
        radiation = 0
        humidity = 0
        water_level = 0

In [17]:
df_hourly_weather

,date,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,precipitation,dew_point,global_radiation,humidity,water_level
0,2011-01-01 00:30:00,2.233333,5.20,2.4,1.216667,1.216667,1785,2.20,974.55,0.0,1.616667,0.5,95.833333,67.635
1,2011-01-01 01:30:00,2.380000,5.20,2.8,0.860000,0.860000,1076,2.16,973.98,0.0,1.520000,0.6,93.600000,81.162
2,2011-01-01 02:30:00,2.580000,5.14,1.2,0.340000,0.340000,1159,2.58,973.64,0.0,1.380000,0.0,92.000000,81.162
3,2011-01-01 03:30:00,2.500000,5.16,1.9,0.520000,0.520000,1122,2.54,973.42,0.0,1.500000,0.0,92.800000,81.162
4,2011-01-01 04:30:00,2.500000,5.10,4.0,1.580000,1.580000,1108,1.62,973.16,0.0,0.720000,0.2,88.200000,81.162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78702,2019-12-31 18:30:00,1.560000,6.80,2.3,1.240000,1.000000,734,1.54,984.54,0.0,0.480000,0.0,92.800000,81.174
78703,2019-12-31 19:30:00,1.340000,6.80,2.6,1.440000,1.200000,963,1.18,984.62,0.0,0.500000,0.0,94.200000,81.174
78704,2019-12-31 20:30:00,1.040000,6.80,2.8,1.660000,1.800000,699,0.78,984.76,0.0,0.560000,0.0,96.600000,81.174
78705,2019-12-31 21:30:00,1.060000,6.76,2.5,1.360000,1.200000,729,1.00,984.84,0.0,0.640000,0.0,97.000000,81.174
78706,2019-12-31 22:30:00,0.480000,6.70,4.6,3.120000,2.200000,293,-3.60,985.02,0.0,0.180000,0.0,98.000000,81.174

In [18]:
df_hourly_weather.to_pickle("datasets\hourly_weather.pkl")