# Preprocessing RoadTrafficAccidents

In [19]:
import pandas as pd
import os

Getting the full path to the dataset folder

In [25]:
dir_path = os.path.dirname(os.path.realpath("__file__"))
path_to_datasets_folder = os.path.join(dir_path, "datasets")
path_to_accidents_file = os.path.join(path_to_datasets_folder, "RoadTrafficAccidentLocations.csv")

Reading the TrafficAccident file and remove all language duplicates

In [26]:
data = pd.read_csv(path_to_accidents_file)
data = data.drop(columns=['AccidentType_de', 'AccidentType_fr', 'AccidentType_it'])
data = data.drop(columns=['AccidentSeverityCategory_de', 'AccidentSeverityCategory_fr', 'AccidentSeverityCategory_it'])
data = data.drop(columns=['RoadType_de', 'RoadType_fr', 'RoadType_it'])
data = data.drop(columns=['AccidentMonth_de', 'AccidentMonth_fr','AccidentMonth_it'])
data = data.drop(columns=['AccidentWeekDay_de', 'AccidentWeekDay_fr', 'AccidentWeekDay_it'])
data.head()

,AccidentUID,AccidentType,AccidentType_en,AccidentSeverityCategory,AccidentSeverityCategory_en,AccidentInvolvingPedestrian,AccidentInvolvingBicycle,AccidentInvolvingMotorcycle,RoadType,RoadType_en,...,AccidentLocation_CHLV95_N,CantonCode,MunicipalityCode,AccidentYear,AccidentMonth,AccidentMonth_en,AccidentWeekDay,AccidentWeekDay_en,AccidentHour,AccidentHour_text
0,A2D2677533867004E0430A865E337004,at0,Accident with skidding or self-accident,as4,Accident with property damage,False,False,False,rt433,Minor road,...,1245194,ZH,261,2011,1,January,aw406,Saturday,0.0,00h-01h
1,9FD6441F802C20A6E0430A865E3320A6,at0,Accident with skidding or self-accident,as3,Accident with light injuries,False,True,False,rt433,Minor road,...,1246980,ZH,261,2011,1,January,aw406,Saturday,1.0,01h-02h
2,9FDA0DC4856A6094E0430A865E336094,at0,Accident with skidding or self-accident,as4,Accident with property damage,False,False,False,rt439,Other,...,1247749,ZH,261,2011,1,January,aw406,Saturday,2.0,02h-03h
3,A3B66E42396E6000E0430A865E336000,at5,Accident when crossing the lane(s),as3,Accident with light injuries,False,False,False,rt433,Minor road,...,1247102,ZH,261,2011,1,January,aw406,Saturday,2.0,02h-03h
4,9FDA0DBE8CCE9096E0430A865E339096,at0,Accident with skidding or self-accident,as4,Accident with property damage,False,False,False,rt433,Minor road,...,1250690,ZH,261,2011,1,January,aw406,Saturday,3.0,03h-04h

Creating a dataframe with all dates for the time range of the accident dataset. 
Attention: check if the last day matches the one in the actual dataset.

In [27]:
date = pd.date_range('01.01.2011', '14.04.2021', freq='d').to_series()
print(type(date))
#weekday = date.weekday()
dates = pd.DataFrame({'date': date, 'year': date.dt.year, 'month': date.dt.month, 'day': date.dt.day, 'weekday': date.dt.day_name()})
dates.head()

<class 'pandas.core.series.Series'>

                 date  year  month  day    weekday
2011-01-01 2011-01-01  2011      1    1   Saturday
2011-01-02 2011-01-02  2011      1    2     Sunday
2011-01-03 2011-01-03  2011      1    3     Monday
2011-01-04 2011-01-04  2011      1    4    Tuesday
2011-01-05 2011-01-05  2011      1    5  Wednesday

Join the two datasets.
I have not found the correct join yet. We have two dataset where we can match for year, month and weekday. As we are missing the day normal joins will match 4 days for each row, therefore we would need something that iterates through the dates dataframe to maintain the order.

In [10]:
for index, row in dates.iterrows():
    print(row['c1'])

KeyError: 'c1'